{{ form_start(form) }}
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			{{ form_row(form.pn) }}
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			{{ form_row(form.description) }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			{{ form_row(form.prixVente) }}
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			{{ form_row(form.stockAlerte) }}
		</div>
	</div>
</div>
 <button class="btn btn-info">  
    <span class="fa fa-download "> </span>
    {{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
