{% extends 'base.html.twig' %}

{% block title %}LigneReuse{% endblock %}

{% block body %}
    <h1>LigneReuse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne_reuse.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ ligne_reuse.date ? ligne_reuse.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ ligne_reuse.quantite }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ ligne_reuse.observation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ligne_reuse_index') }}">back to list</a>

    <a href="{{ path('ligne_reuse_edit', {'id': ligne_reuse.id}) }}">edit</a>

    {{ include('ligne_reuse/_delete_form.html.twig') }}
{% endblock %}
