{{ form_start(form) }}

    {{ form_label(form.date) }}
    {{ form_widget(form.date) }}
    {{ form_errors(form.date) }}


        {{ form_label(form.iddNumber) }}
    {{ form_widget(form.iddNumber) }}
    {{ form_errors(form.iddNumber) }}

	        {{ form_label(form.machineNumber) }}
    {{ form_widget(form.machineNumber) }}
    {{ form_errors(form.machineNumber) }}

	        {{ form_label(form.client) }}
    {{ form_widget(form.client) }}
    {{ form_errors(form.client) }}
		
	<h3>Les détails des sorties </h3>
	<ul class="tags list-inline" data-prototype="{{ form_widget(form.ligneSorties.vars.prototype)|e('html_attr') }}">
	{% for ligneSortie in form.ligneSorties   %}
		<tr>
			<td>{{ form_row(ligneSortie.produitSite)}} </td>
			<td>
			{{ form_row(ligneSortie.quantite)}}
			</td>
		</tr>
	{% endfor %}
	</ul>
	<br />
    <button class="btn btn-info">  
    <span class="fa fa-download "> </span>
    {{ button_label|default('Enregistrer') }}</button>
	{{ form_end(form) }}