{% extends 'base.html.twig' %}

{% block title %}LigneDamage index{% endblock %}
	{% block titre %}
				Liste des damages du site {{app.user.siteActif}} 
                 {% endblock %}
{% block body %}
<table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Produit </th>
                <th>Quantite</th>
                <th>Observation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne_damage in ligne_damages %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ ligne_damage.date ? ligne_damage.date|date('d/M/Y') : '' }}</td>
                <td>{{ ligne_damage.produitSite }}</td>
                <td>{{ ligne_damage.quantite }}</td>
                <td>{{ ligne_damage.observation }}</td>
                <td>
                    <a href="{{ path('ligne_damage_show', {'id': ligne_damage.id}) }}">show</a>
                    <a href="{{ path('ligne_damage_edit', {'id': ligne_damage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
