{% extends 'base.html.twig' %}

{% block title %}ProduitSite  liste
{% endblock %}
{% block titre %}
	Liste des produits de tous les sites
	
{% endblock %}
	{% block lesite %} <span class="fa fa-angle-double-right"> </span> Config.  
						{% endblock %}
{% block body %}

	<table id="example1" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Site</th>
				<th>PN</th>
				<th>Description</th>
				<th>Quantité</th>
			</tr>
		</thead>
				<tfoot>
			<tr>
				<th>#</th>
				<th>Site</th>
				<th>PN</th>
				<th>Description</th>
				<th>Quantité</th>
			</tr>
		</tfoot>
		<tbody>
			{% for produit in produits %}
				<tr {% if produit.isDangerStock %} class="text-danger" title="danger de stock" {% endif %}>
					<td>{{ loop.index }}</td>
					<td>{{ produit.site }}</td>
					<td>{{ produit.produit.pn }}</td>
					<td>{{ produit.produit.description }}</td>
					<td>{{ produit.quantite }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">aucun enregistrements dans la base</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
